@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.back {
  background-color: rgba(128, 128, 128, 0.308);
}

.color-success {
  background-color: rgba(0, 128, 0, 0.171);
}

.color-primary {
  background-color: rgba(0, 0, 255, 0.212);
}

body {
 
  padding:10px 10px;
  background-color: rgba(128, 128, 128, 0.068);
}
